html, body {
 background-color: #9C27B0;
   font-family: "Inter", serif; 
  color: black;
    margin: 2px;
  margin-bottom:30px;
}
.inicio{
  background: rgb(247,239,239);
    font-size: 35px;
    margin: 20px;
    padding: 20px;
    display: flex;
  borde-radius: 50px;
  box-shadow: 2px 5px 5px gray
}
header{
 font-family: "Merienda", serif;
  color:black;
  font-size: 80px;
  display: flex;
  position: relative;
  margin: 20px;
  padding: 0px;
  borde-bottom: 3px solid white
  
} 
.oi{
 align-content: center;
  margin-left: 50px;
  
}

p{
  text-aling: justify;
}

.video{

  margin: 10px;
}

header img{
  width: 200px;
  marginleft:300px;
}

hearder imag{
  width:200px;
  height:200px;
  margin-left:700px;
}


h3{
  color:rgb(161,99,161);
  font-size:40px;
  font-weight:800;
  border-bottom:2px solid blue;
    
  }
    
  
  
 
.clipes{
  display: flex;
  overflow-x: auto;
  gap: 10px;}

.clipes Img{
  height: 200px;
  opacity: 0.5;
  
}

.clipes img:houver{
  opacity: 1.0;
  border: solid 4px black;
  box-shadow: 2px 4px 4px gray
}

  footer{
font-family:"fleur de leah", cursive;
color:rgb(134,86,134);
background-color:rgba(255,192,255,0,562);
    align-content: center;
    align-items:center;
    text-align:center;
    position:fixed;
    bottom:o;
    width:100%;
    height:1em;
    padding-bottom:30px;
    font-size:1.7rem;
    display:block;
    margin:o auto;
    padding-left:550px;
  }